@import url(
  "https://themes.googleusercontent.com/fonts/css?kit=ef17BcwrUd-BcTrhMZYR3e_glS5SlHXAWuyhDc41Bbk"
);

.orange,
.c4 {
  color: #e69138;
  font-weight: 700;
  font-family: "Bangers";
  font-size: 34pt;
  font-style: normal;
  text-decoration: none;
  vertical-align: baseline;
}

.brown,
.c3 {
  color: #783f04;
  font-weight: 400;
  font-family: "Bangers";
  font-size: 29pt;
  font-style: normal;
  text-decoration: none;
  vertical-align: baseline;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #00f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
